body{
  background-color: #f4f4f4;
}
.about{
  max-width: 900px;
  margin: 30px auto;
  padding: 40px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media (max-width:970px){
.about{
  margin: 30px 20px;
}
}

h3 {
  background-color: #0170B9;
  color: white;
  padding: 6px 18px;
  margin-bottom: 16px;
}

p {
  line-height: 1.6;
  margin: 12px 0;
  color: #333;
}